[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
social-auth-app-django = "*"
social-core = {editable = true,git = "https://github.com/tourdownunder/social-core.git",ref = "feature/add-musicbrainz-backend"}
django-leaflet = "*"
black = "*"
django-classy-settings = "*"
dj-database-url = "*"
psycopg2-binary = "*"
json-default = "*"
pytz = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
