{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <script type="text/javascript">
      var dict = {};
      var dataurl = '{% url "world:location" %}';
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        
        var north = 89.54203477001494;
        var south = -89.54203477001494;
        var east = 316.40625;
        var west = -316.40625;

        // TODO remove hard code
        map.setView([42.63, 41.509994507], 12);

        map.on("moveend", function () {
         console.log("Update Centre:" + map.getCenter().toString());
         update();
        });

        function success(position) {
          map.setView([position.coords.latitude, position.coords.longitude], 8);
          update();
        }

        function error() {
          alert("Could not get location");
        }

        function update()  {

          var north = String(map.getBounds().getNorth()); 
          var south = String(map.getBounds().getSouth()); 
          var east = String(map.getBounds().getEast()); 
          var west = String(map.getBounds().getWest());

          console.log(
            "Update Bounds: "+
            "\nNorth:" + map.getBounds().getNorth() + 
            "\nSouth:" + map.getBounds().getSouth() + 
            "\nEast:" + map.getBounds().getEast() + 
            "\nWest:" + map.getBounds().getWest()
          );

          // Download GeoJSON data with Ajax
          let url = dataurl.concat("?north=", north, "&south=", south, "&east=", east, "&west=", west);
          console.log("URL:" + url);
          fetch(url)
            .then(function(resp) {
              return resp.json();
            })
            .then(function(data) {
              L.geoJson(data, {
                onEachFeature: function onEachFeature(feature, layer) {
                  var props = feature.properties;
                  var content = `<h3>${props.iata}</h3><p>${props.name}</p>`;
                  layer.bindPopup(content);
                },
                filter: removeDuplicates
              }).addTo(map);

              function removeDuplicates(feature) {
                var previous_value = dict[feature.properties.iata];
                console.log("Previous:" + previous_value + "\tCurrent:"+feature.properties.iata);
                if(previous_value === undefined)
                {
                  dict[feature.properties.iata] = feature;
                  return true;
                }
              }
            });
            console.log("dict:" + dict);
        }

        navigator.geolocation.getCurrentPosition(
          success, 
          error
        );
      });
    </script>
  </head>
    <body>
        <div>
            <h1>Hi</h1>>
            <a href="{% url "social:begin" "musicbrainz" %}">musicbrainz</a>
            <a href="{% url "social:begin" "spotify" %}">spotify</a>
        </div>
        <div>
            {% leaflet_map "main" %}
        </div>
    </body>
</html>
