{% load static %}
<html>
    <head>
        <title>Artist Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <form action="/search" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="row">
                    <div class="col">
                        {{ field.errors }}
                    </div>
                    <div class="col">
                        {{ field.label_tag }}
                    </div>
                    <div class="col">
                        {{ field }}
                    </div>
                    <div class="col">
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <input type="submit" value="Search">
            </div>
        </form>
    </body>
</html>
